:root {
  --color-neutral: #4b545f;
  --container-width: 70.5rem;
}

html,
body {
  font-family: "Norse";
  display: flex;
  flex: 1;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

p,
a {
  font-size: 1rem;
}

.header > .inner-container > img {
  max-width: 300px;
}

.inner-container {
  width: 100%;
  max-width: var(--container-width);
  display: flex;
  flex: 1;
  margin: 0 auto;
  justify-content: center;
}

/* Header Classes */

.header {
  background-color: var(--color-neutral);
}

.header > .inner-container,
.splash-section > .inner-container {
  justify-content: space-between;
}

.header > .inner-container > ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  font-size: 1.75rem;
}

.header-link {
  color: azure;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

@keyframes shake {
  0% {
    transform: rotate(1.5deg);
  }
  50% {
    transform: rotate(-1.5deg);
  }
  100% {
    transform: rotate(1.5deg);
  }
}

li:hover {
  animation: shake 100ms infinite;
  animation-timing-function: linear;
}

/* Main Content Classes */

.splash-section {
  display: flex;
  background-color: #0e1d3c;
  color: azure;
  align-items: center;
}

.splash-section > .inner-container > div {
  flex: 1;
}

.splash-left > h1 {
  color: azure;
}

.splash-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  flex: 1;
}

.splash-right {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent),
    url("/assets/Denmark.jpg");
  border-radius: 0.5rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 1rem;
  min-height: 360px;
  margin: 1rem;
  background-size: cover;
}

.splash-button {
}

.splash-right > p {
  font-size: 2rem;
}
